#cart {
    position: fixed;
    top: 20%;
    border: 1px solid rgb(205, 197, 197);
    border-radius: 5px;
    margin-left: 10px;
    padding: 20px;
    width: 100%;
    background-color: #ead2ca;

}

table {}

td,
th {
    text-align: left;
    padding: 8px;
}